<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.402.8" />
  <package id="AWSSDK.S3" version="3.7.415.7" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Steamworks.NET" version="2024.8.0" manuallyInstalled="true" />
</packages>